// - REUSABLE UTILITY CLASSES
// - MIXINS and SASS FUNCTIONS

.font-heading {
    font-family: $font-heading;
}

.font-body {
    font-family: $font-body;
}



@mixin shadow-sm {
    -webkit-box-shadow: 0px 4px 15px 0px rgba(80,91,111,0.5);
    -moz-box-shadow: 0px 4px 15px 0px rgba(80,91,111,0.5);
    box-shadow: 0px 4px 15px 0px rgba(80,91,111,0.5);
}